img{
    max-width: 50rem;
    width: 50%;
    display: block;
    margin: auto;
}
.Resturant{
    display: inline-block;
    padding-left: 4rem;
}
main{
    background-image: url(images/background1.jpg);
    background-size: cover;
}
.story{
    align-items: center;
    padding: 1rem;
}
h1{
    text-align: center;
}
.contact{
    display: block;
    margin-left:45rem;
    margin-right:45rem;
    text-align: center;
}
main{
    text-align: center;
}
header{
    text-align: center;
}
:hover>a{
    color: red;
}