
img{
    max-width: 25rem;
}
header{
    text-align: center;
}
body{
background-image:url(images/image1.png);
background-repeat: repeat;
background-position: top;
background-size:cover;
/*the selector on 14 isn't quite right. you want header>a:active. then just color on line 15.*/
header>a:active{
color: red;
}